html, body {
    height:100%;
} 

body{   
    /* background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);     */
    /* Center and scale the image nicely */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
 
}
.container{
    width: 50%;
    /* padding-top: 50px; */
}
.borderless td, .borderless th {
    border: none;
}
#winGif{
    width: 90%;
}
.modal-body{
    background-image: url("https://media.giphy.com/media/2gtoSIzdrSMFO/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}

.modal-footer{
    padding: 5px;
}

#picFooter{
    padding-top: -100px;
    background-color: gray;
    text-align: center;
    color: white;
  text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
}