body{
    width: 100%;
    height: 100%;
    /* background-color: #feb236; */
}
.container{
    width: 50%;
    padding-top: 50px;
}
.borderless td, .borderless th {
    border: none;
}
#winGif{
    width: 90%;
}
.modal-body{
    background-image: url("https://media.giphy.com/media/2gtoSIzdrSMFO/giphy.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}

.modal-footer{
    padding: 5px;
}

#picFooter{
    padding-top: -100px;
    background-color: gray;
    text-align: center;
    color: white;
  text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
}